<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>144</integer>
                <key>width</key>
                <integer>144</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>height</key>
                <integer>12</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>12</integer>
                <key>originalWidth</key>
                <integer>17</integer>
                <key>width</key>
                <integer>17</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>126</integer>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>height</key>
                <integer>12</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>12</integer>
                <key>originalWidth</key>
                <integer>17</integer>
                <key>width</key>
                <integer>17</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>112</integer>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>height</key>
                <integer>12</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>12</integer>
                <key>originalWidth</key>
                <integer>17</integer>
                <key>width</key>
                <integer>17</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>98</integer>
            </dict>
            <key>bronzen.png</key>
            <dict>
                <key>height</key>
                <integer>22</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>22</integer>
                <key>originalWidth</key>
                <integer>22</integer>
                <key>width</key>
                <integer>22</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>74</integer>
            </dict>
            <key>diamon.png</key>
            <dict>
                <key>height</key>
                <integer>22</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>22</integer>
                <key>originalWidth</key>
                <integer>22</integer>
                <key>width</key>
                <integer>22</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>50</integer>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>height</key>
                <integer>21</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>21</integer>
                <key>originalWidth</key>
                <integer>96</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>453</integer>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>height</key>
                <integer>22</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>22</integer>
                <key>originalWidth</key>
                <integer>22</integer>
                <key>width</key>
                <integer>22</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>26</integer>
            </dict>
            <key>grade.png</key>
            <dict>
                <key>height</key>
                <integer>29</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>29</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>61</integer>
                <key>y</key>
                <integer>376</integer>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>56</integer>
                <key>originalWidth</key>
                <integer>168</integer>
                <key>width</key>
                <integer>168</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>259</integer>
            </dict>
            <key>hint.png</key>
            <dict>
                <key>height</key>
                <integer>49</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>49</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>57</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>376</integer>
            </dict>
            <key>hosedown.png</key>
            <dict>
                <key>height</key>
                <integer>160</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>160</integer>
                <key>originalWidth</key>
                <integer>26</integer>
                <key>width</key>
                <integer>26</integer>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>317</integer>
            </dict>
            <key>hoseup.png</key>
            <dict>
                <key>height</key>
                <integer>160</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>160</integer>
                <key>originalWidth</key>
                <integer>26</integer>
                <key>width</key>
                <integer>26</integer>
                <key>x</key>
                <integer>117</integer>
                <key>y</key>
                <integer>317</integer>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>height</key>
                <integer>24</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>24</integer>
                <key>originalWidth</key>
                <integer>89</integer>
                <key>width</key>
                <integer>89</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>427</integer>
            </dict>
            <key>new.png</key>
            <dict>
                <key>height</key>
                <integer>7</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>7</integer>
                <key>originalWidth</key>
                <integer>16</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>140</integer>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>92</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>479</integer>
            </dict>
            <key>scoreboard.png</key>
            <dict>
                <key>height</key>
                <integer>57</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>57</integer>
                <key>originalWidth</key>
                <integer>113</integer>
                <key>width</key>
                <integer>113</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>317</integer>
            </dict>
            <key>silver.png</key>
            <dict>
                <key>height</key>
                <integer>22</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>22</integer>
                <key>originalWidth</key>
                <integer>22</integer>
                <key>width</key>
                <integer>22</integer>
                <key>x</key>
                <integer>148</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>start.png</key>
            <dict>
                <key>height</key>
                <integer>29</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>29</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>52</integer>
                <key>x</key>
                <integer>96</integer>
                <key>y</key>
                <integer>479</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>flappy_packer.png</string>
            <key>size</key>
            <string>{173,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8dcc14aa0dad1eb8dee971088da1db:a95d74cadf45e9061dfe70de6a4bf532:c8433c358459400ec0a4e7387916bf4b$</string>
            <key>textureFileName</key>
            <string>flappy_packer.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>510</integer>
            <key>width</key>
            <integer>173</integer>
        </dict>
    </dict>
</plist>
